@import "tailwindcss";

@theme {
  --color-custom-teal: #63ccca;
  --color-custom-teal-hover: #4dbcba;
  --color-custom-teal-dark: #3b7a79;
  --color-custom-teal-2: #22a3a0;
  --color-custom-light: #daf1f1;
  --color-custom-light-hover: #c8eaea;
}

body {
  font-family: "Inria Sans", sans-serif;
}

[vw] {
  position: fixed !important;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

[vw-access-button] {
  bottom: 0 !important;
  right: 0 !important;
}
